body {
	background: #f0f0f6;
}
.main {
	display: flex;
	flex-direction: row;
	margin: 1% 5% 1% 5%;
	border-radius: 30px 30px 30px 30px;
	background: #ffffff;
	box-shadow: 2px 2px 2px 2px #ffffff;
}
.main_item1 {
	order: 2;
	display: flex;
	flex-direction: column;
}
.aboutme_text {
	font-size: 17px;
}
.navigation1 {
	display: flex;
	font-size: 25px;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 50%;
	padding-right: 5%;
	height: 100px;

}
.nav_items {
	text-decoration: none;
	color: black;
	margin-top: 4%;
}
#aboutme {
	background: blue;
	border-radius: 10px 10px 10px 10px;
	width: 80px;
	height: 30px;
	text-align: center;
	color: #ffffff;
}
.main_item2 {
	order: 1;
	width: 80%;
	background: #f5f8f9;
	display: flex;
	flex-direction: column;
	border-radius: 30px 30px 30px 30px;
	justify-content: center;
		box-shadow: 2px 2px 2px 2px #f5f8f9;
}
#aside_photo, #aside_name, #aside_logo {
	text-align: center;
}
#aside_job{
	background: #f0f0f6;
	text-align: center;
	margin-left: 39%;
	width: 120px;
	height: 30px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 1px 1px 1px 1px  #f0f0f6;
	color: #4f6074;
	margin-bottom: 10px;

}
#Nazarii {
	width: 200px;
	height: 200px;
	border-radius: 40px 40px 40px 40px;
}

.logo {
	width: 20px;
	height: 20px;
}
.content {
	margin: 2%;
}
.activity {
	display: flex;
	flex-direction: column;

}
.row1, .row2{
	display: flex;
	justify-content: space-around;
}
.activity_item {
	border: solid #f5f8f9 3px;
	border-radius: 15px 15px 15px 15px;
	width: 450px;
	height: 150px;
	margin-bottom: 1%;
	margin-top: 1%;
}
.aside_items {
	padding-right: 25%;
	padding-left: 25%;
	width: 220px;
	color: #4f6074;
}
body{
	display: flex;
	flex-direction: row;
}
.middle_content{
	order: 2;
position: static;
}
.leftside{
	order: 1;
	flex-basis: 25%;
}
.rightside{
	order: 3;
	flex-basis: 25%;
}
#download_item{
	margin-left: 25%;
	margin-right: 30%;
	background: #304cfd;
	width: 200px;
	height: 50px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 1px 1px 1px 1px #304cfd;
}
.download_text{
padding-top: 1.5vh;
padding-bottom: auto;
text-align: center; 

}
#download_arch{
	color: white;
	text-decoration: none;

}
#aside_job_text{
padding-top: 0.8vh;
padding-bottom: auto;
text-align: center; 

}